<div class="group">
  <h4 class="form-title">グループ編集画面</h4>
  
  <div class="group-form">
    <%= form_with model: @group do |f| %>
      <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= @group.errors.count %> つのエラーが発生しました。</h2>
          <ul>
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :title, 'グループ名' %>
        <%= f.text_field :title, autofocus: true, class: "text-input" %>
      </div>
    
      <div class="field">
        <%= f.label :description, '詳細' %>
        <%= f.text_area :description, class: "text-input" %>
      </div>
    
      <div class="actions">
        <%= f.submit "保存する", class: "submit-button" %>
      </div>
    <% end %>
    
    <%= link_to '戻る', group_path(@group.id), class: "nav-link back" %>
  </div>
</div>
