<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between">
        <h4 class="group-list-title">グループ一覧</h4><br></br>
        <% if user_signed_in? %>
          <%= link_to new_group_path, class: "btn btn-flat" do %>
            <span>グループを作成</span>
          <% end %>
        <% end %>
      </div>
<br></br>
      <table class="table table-bordered">
        <tr class="table-active">
          <th><br></th>
          <th colspan="2">グループ名</th>
          <th>参加人数</th>
        </tr>

        <% @groups.each do |group| %>
          <tr>
            <td width="60">
              <%= link_to group_path(group.id) do %>
                <%= image_tag group.get_image, size: '60x60', class: "icon-img" %>
              <% end %>
            </td>
            <td>
              <%= link_to group.title, group_path(group.id), class: "group-link" %><% if group.owner == current_user %>&nbsp;&nbsp;<i class="fa-regular fa-star"></i><% end %>
            </td>
            <td>
              <%= group.description %>
            </td>
            <td width="100">
              <i class="fa-solid fa-users"></i><%= group.users.count %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>