<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between">
        <h4 class="group-list-title">グループ一覧</h4><br></br>
        <% if user_signed_in? %>
          <%= link_to new_group_path, class: "btn btn-flat" do %>
            <span>グループを作成</span>
          <% end %>
        <% end %>
      </div>
<br></br>
      <% @groups.each do |group| %>
      <hr size="10">
        <div class="d-flex">
          <div class="profile-img-frame">
            <%= link_to group_path(group.id) do %>
              <%= image_tag group.get_image, size: '60x60', class: "icon-img" %>
            <% end %>
          </div>
          <div class="posted-chat-content" style="padding-left: 10px;">
            <span>
              <% if group.owner == current_user %><i class="fa-regular fa-star"></i>&nbsp;&nbsp;<% end %>
              <b><%= link_to group.title, group_path(group.id), class: "group-link" %></b>
            </span>
            <br><small><%= group.description %></small>
          </div>
          <div style="text-align: right; margin-left: auto; width: 60px; padding-top: 20px;">
            <i class="fa-solid fa-users"></i><%= group.users.select { |user| user.user_status == "有効" }.count %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>