<h4>グループ作成画面</h4>

<%= form_with model: @group do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= @group.errors.count %> つのエラーが発生しました。</h2>
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'グループ名' %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description, '詳細' %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "作成する" %>
  </div>
<% end %>

<%= link_to '戻る', root_path %>
