<div class="container">
  <h2 class="text-center"><%= @group.title %></h2>
  <h4 class="text-center">承認待ち一覧</h4>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
    <% if @permits.present? %>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead class="thead-dark">
            <tr>
              <th colspan="3">ユーザー</th>
            </tr>
          </thead>
          <tbody>
            <% @permits.each do |permit| %>
              <tr>
                <td><%= image_tag permit.user.get_image, size: '60x60', class: "icon-img" %></td>
                <td><%= permit.user.name %></td>
                <td class="text-right">
                  <%= link_to '加入許可', group_group_user_path(@group, permit_id: permit.id), method: :post, class: "btn btn-sm btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <P class="text-center">承認待ちユーザーはいません。</P>
    <% end %>
    </div>
    <div class="mx-auto mt-5"><%= paginate @permits %></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
    <p class="text-center"><%= link_to "戻る", group_path(@group), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>
