<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between">
        <div class="d-flex" style="margin-top: 4px;">
          <h4><%= @group.title %></h4>
          <p style="margin: 4px 0px 0px 40px;" >オーナー：<%= @group.owner.name %></p>
        </div>
        <%= link_to groups_path, class: "btn btn-flat" do %>
          <span>一覧に戻る</span>
        <% end %>
      </div>

        <div class="row">
          <div class="col-md">

            <div class="py-4">
              <p><strong>説明</strong></p>
              <p><%= @group.description %></p>

              <% if user_signed_in? %>
              <% if @group.owner == current_user %>
                <%= link_to 'グループを編集する', edit_group_path(@group.id), class: "btn btn-primary" %>
                <%= link_to "グループを削除する", group_path(@group.id), method: :delete, data: {confirm: "本当にグループを消しますか？"}, class:"btn btn-danger" %>

                <% elsif @group.group_users.exists?(user_id: current_user.id) %>
                  <%= link_to "脱退する",  group_group_user_path(@group), method: :delete, data: { confirm: "本当に脱退しますか？" }, class:"btn btn-danger" %>
                <% else %>
                  <%= link_to "参加する", group_group_user_path(@group), method: :post, class: "btn btn-primary" %>
                <% end %>
              <% end %>

            </div>

          <div class="py-4">
            <h5>ユーザー</h5>
            <div class="group-members">
              <% @group.group_users.each do |member| %>
                <p><%= member.user.name %></p>
              <% end %>
            </div>
          </div>

          <% if user_signed_in? %>
            <% if @group.group_users.exists?(user_id: current_user.id) %>
            <div id="message_count">
              <%= render 'public/messages/count', messages: @messages %>
            </div>
            <div id="message_index">
              <%= render 'public/messages/index', group: @group, message: @message %>
            </div>
              <%= render 'public/messages/form', group: @group, message: @message %>
            <% end %>
          <% end %>
          <br>
          <br>
          <br>
          <br>

        </div>
      </div>

    </div>
  </div>
</div>