<h4><%= @group.title %></h4>
  <h5>オーナー：<%= @group.owner.name %></h5>

<p><strong>説明:</strong> <%= @group.description %></p>

  <% if user_signed_in? %>
  <% if @group.owner == current_user %>
    <%= link_to "グループを編集する", edit_group_path(@group.id) %>
    <%= link_to "グループを削除する", group_path(@group.id), method: :delete, data: {confirm: "本当にグループを消しますか？"} %>

    <% elsif @group.group_users.exists?(user_id: current_user.id) %>
      <%= link_to "脱退する",  group_group_user_path(@group), method: :delete %>
    <% else %>
      <%= link_to "参加する", group_group_user_path(@group), method: :post%>
    <% end %>
  <% end %>

<h5>ユーザー</h5>
<% @group.group_users.each do |member| %>
  <p><%= member.user.name %></p>
<% end %>

<%= link_to '一覧に戻る', groups_path %>

<h5>メッセージ</h5>
<%#ここの data-group_id を使ってjs側で部屋を見分ける %>
<div id='messages' data-group_id="<%= @group.id %>">
  <%= render @messages %>
</div>

<form>
  <%#= label_tag :content %>
  <input type="text" data-behavior="group_speaker" value="" placeholder="メッセージを送信">
</form>