<div class="message" id="<%= message.id %>">
  <div class="posted-chat-frame">
    <div class="posted-chat-content">
      <span><b><%= "#{message.user.name}" %></b></span>&nbsp;&nbsp;<small><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></small>
      <p><%= "#{message.content}" %>
      <button data-id="<%= message.id %>" class="delete-btn btn btn-danger" data-confirm="メッセージを削除しますか？">削除</button>
      </p>
    </div>
  </div>
</div>