<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>キャラクター編集</h4>
      <%= form_with model:@character, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: f.object %>
        <div>
          画像
          <%= f.file_field :image %>
          ジャンル
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
        </div>
        <div>
          キャラクター名
          <%= f.text_field :name, autofocus: true, class: "form-control text-input", style: "width:40%" %>
        </div>
        <div>
          <%= f.label :status, 'ステータス' %>
          <%= f.text_area :status, rows:'8', class: "form-control text-input" %>
        </div>

        <table>
          <tr>
          <!-- 動的に追加するフォーム -->
          <td>
          <div id="other-forms">
             <%= f.fields_for :others do |other| %>
              <%= render 'public/characters/other_fields', f: other %>
            <% end %>
          </div>

          <!-- 動的に追加するフォームを挿入する箇所 -->
            <div id="detail-association-insertion-point"></div>
          </td>

          </tr>
        </table>

        <!-- 追加ボタンの記述 -->
        <%= link_to_add_association(f, :others,
          class: 'add_fields',
          id: 'add-btn',
          data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'after'
          }
        ) do %>
          <button class="btn btn-primary" style="width: 100%; margin-top: 10px; margin-bottom: 10px;"> ＋技能を追加 </button>
        <% end %>

        <div>
          <%= f.label :description, 'キャラクター説明' %>
          <%= f.text_area :description, rows:'8', class: "form-control text-input" %>
        </div>

        <div class="d-flex justify-content-between">
          <% if @character.user == current_user %>
          <div>
            <%= f.submit '変更を保存', class:"btn btn-success" %>
            <%= link_to "キャンセル", character_path, class: "btn btn-primary" %>
          </div>
          <div>
            <%= link_to "削除する", @character, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger destroy_character_#{@character.id}"%>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>