<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>キャラクター新規登録</h4>
      <%= form_with model:@character, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: f.object %>
        <div>
          <%= f.label :image, 'キャラクター画像' %>
          <%= f.file_field :image %>
        </div>
        <div>
          <%= f.label :name, 'キャラクター名' %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :status, 'ステータス' %>
          <%= f.text_area :status %>
        </div>
        <div>
          <%= f.label :description, 'キャラクター説明' %>
          <%= f.text_area :description %>
        </div>
        <div>
          <%= f.label :genre, 'ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
        </div>
      <button class="btn btn-success">
        <span>新規投稿</span>
      </button>
      <% end %>
    </div>
  </div>
</div>