<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>キャラクター新規登録</h4>
      <%= form_with model:@character, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: f.object %>
        <div>
          <%= f.label :image, 'キャラクター画像' %>
          <%= f.file_field :image %>
        </div>
        <div>
          <%= f.label :genre, 'ジャンル' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
        </div>
        <div>
          <%= f.label :name, 'キャラクター名' %>
          <%= f.text_field :name, autofocus: true, class: "form-control text-input", style: "width:40%" %>
        </div>
        <div>
          <%= f.label :status, 'ステータス' %>
          <%= f.text_area :status, rows:'8', class: "form-control text-input" %>
        </div>

        <!-- 動的に追加するフォームを挿入する箇所 -->
        <div id="detail-association-insertion-point"></div>

        <!-- 動的に追加するフォーム -->
        <div id="other-forms">
           <%= f.fields_for :others do |other| %>
            <%= render 'public/characters/other_fields', f: other %>
          <% end %>
        </div><br>

        <!-- 追加ボタンの記述 -->
        <%= link_to_add_association(f, :others,
          class: 'add_fields',
          id: 'add-btn',
          data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'after'
          }
        ) do %>
          <button class="btn btn-primary" style="width: 100%;"> ＋技能を追加 </button>
        <% end %><hr>

        <div>
          <%= f.label :description, 'キャラクター説明' %>
          <%= f.text_area :description, rows:'8', class: "form-control text-input" %>
        </div><br>
      <button class="btn btn-success">
        <span>新規投稿</span>
      </button>
      <% end %>
    </div>
  </div>
</div>
