<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>キャラクター新規登録</h4>
      <%= form_with model:@character, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: f.object %>
        <div class="character-1">
          <div>
            画像
            <%= f.file_field :image %>
          </div>
          <div>
            ジャンル&nbsp;&nbsp;
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
          </div>
          <div>
            キャラクター名
            <%= f.text_field :name, autofocus: true, style: "width:40%" %>
          </div>
        </div>

        <table class="table status-table">
          <thead>
            <%= render 'public/characters/allstatus' %>
          </thead>
          <tbody>
            <%= render 'public/characters/status', f: f %>
          </tbody>
        </table>

        <div class="character-2">
          <div class="character-3">
            <div>初期正気度</div>
            <div id="initial_sanity">0</div> <!-- character_total_3 * 5 を表示 -->
          </div>

          <div class="character-3">
            <div>正気度</div>
            <div>
              <input type="number" id="sanity_form" style="width: 3em;"> <!-- 数字入力フォーム -->
            </div>
          </div>

          <div class="character-3">
            <div>幸運</div>
            <div id="luck">0</div> <!-- character_total_3 * 5 を表示 -->
          </div>

          <div class="character-3">
            <div>アイデア</div>
            <div id="idea">0</div> <!-- character_total_7 * 5 を表示 -->
          </div>

          <div class="character-3">
            <div>知識</div>
            <div id="knowledge">0</div> <!-- character_total_8 * 5 を表示 -->
          </div>

          <div class="character-3">
            <div>DB</div>
            <div id="db">0</div> <!-- character_total_1 + character_total_6 による条件の結果を表示 -->
          </div>
        </div>

        <table style="margin-top: 20px;">
          <tr>
            <!-- 動的に追加するフォーム -->
            <td>
              <div id="other-forms">
                <%= f.fields_for :others do |other| %>
                  <%= render 'public/characters/other_fields', f: other %>
                <% end %>
              </div>

              <!-- 動的に追加するフォームを挿入する箇所 -->
              <div id="detail-association-insertion-point"></div>
            </td>
          </tr>
        </table>

        <!-- 追加ボタンの記述 -->
        <%= link_to_add_association(f, :others,
          class: 'add_fields',
          id: 'add-btn',
          data: {
            association_insertion_node: '#detail-association-insertion-point',
            association_insertion_method: 'after'
          }
        ) do %>
          <button class="btn btn-primary" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">＋技能を追加</button>
        <% end %>

        <div>
          <%= f.label :status, 'ステータス' %>
          <%= f.text_area :status, rows:'8', class: "form-control text-input" %>
        </div>
        <div>
          <%= f.label :description, 'キャラクター説明' %>
          <%= f.text_area :description, rows:'8', class: "form-control text-input" %>
        </div><br>
        <button class="btn btn-success">
          <span>新規投稿</span>
        </button>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'status', 'data-turbolinks-track': 'reload' %>