<hr>
<% group.messages.each do |message| %>
<div class="d-flex justify-content-between">
  <div class=" justify-content-start">
    <%= image_tag message.user.get_image, size:'60x60', class: "icon-img" %>
    <span><b><%= message.user.name %></b></span>&nbsp;&nbsp;<small><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></small>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <%= link_to group_message_path(message.group_id, message.id), method: :delete, remote: true do %>
    <div class="text-right">
      <button class="btn btn-outline-secondary" style="padding:0rem 0.4rem 0.2rem 0.5rem; border-radius: 20vh;">×</button>
    </div>
  <% end %>
</div>
  <!-- メッセージの表示 -->
  <p style="margin-left: 66px;"><%= safe_join(message.content.split("\n"),tag(:br))%></p>
<% end %>