<h4>検索結果</h4>

<table class="table table-bordered">
  <tr class="table-active">
    <!--タグの中にbrタグを入れることで空白のセルを作れる-->
    <th><br></th>
    <th colspan="2">タイトル</th>
    <th>参加人数</th>
  </tr>
    <% if @groups.present? %>
    <% @groups.each do |group| %>
        <td width="60">
          <%= link_to group_path(group.id) do %>
            <%= image_tag group.get_image, size: '60x60', class: "icon-img" %>
          <% end %>
        </td>
        <td>
          <%= link_to group.title,group %>
          <% if current_user.present? %>
            <% if group.owner == current_user %>
              &nbsp;&nbsp;<i class="fa-regular fa-star"></i>
            <% elsif group.group_users.exists?(user_id: current_user&.id) %>
              &nbsp;&nbsp;<i class="fa-solid fa-star"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= group.description %>
        </td>
        <td width="100">
          <i class="fa-solid fa-users"></i><%= group.users.count %>
        </td>
      </tr>
    <% end %>
    <% else %>
      <p>グループが見つかりませんでした。</p>
    <% end %>
  </tr>
</table>