<h4>検索結果</h4>

<table class="table table-bordered" style="table-layout: fixed;">
  <tr class="table-active">
    <!--タグの中にbrタグを入れることで空白のセルを作れる-->
    <th>タイトル</th>
    <th width="100">参加人数</th>
  </tr>
    <% if @groups.present? %>
    <% @groups.each do |group| %>
        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
          <% if user_signed_in? %>
            <%= link_to group_path(group.id) do %>
              <%= image_tag group.get_image, size: '60x60', class: "icon-img" %>
            <% end %>
            <%= link_to group.title,group %>
          <% else %>
            <%= image_tag group.get_image, size: '60x60', class: "icon-img" %>
            <%= group.title %>
          <% end %>

          <% if current_user.present? %>
            <% if group.owner == current_user %>
              &nbsp;&nbsp;<i class="fa-regular fa-star"></i>
            <% elsif group.group_users.exists?(user_id: current_user&.id) %>
              &nbsp;&nbsp;<i class="fa-solid fa-star"></i>
            <% end %>
          <% end %>
        </td>
        <td width="100">
          <i class="fa-solid fa-users"></i><%= group.users.select { |user| user.user_status == "有効" }.count %>
        </td>
      </tr>
    <% end %>
    <% else %>
      <p>グループが見つかりませんでした。</p>
    <% end %>
  </tr>
</table>