<table class="table table-bordered">
  <tr class="table-active">
    <!--タグの中にbrタグを入れることで空白のセルを作れる-->
    <th>キャラクター</th>
    <th>一覧</th>
    <th>ジャンル</th>
    <th><br></th>
  </tr>
    <% @characters.each do |character| %>
      <tr>
        <td width="125">
          <div style="max-height: 280px; overflow: hidden;">
            <%= link_to admin_character_path(character) do %>
              <%= image_tag character.image, style: "object-fit: contain; width: 100px; height: 100px; object-position: center;" %>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to character.name,admin_character_path(character) %>
        </td>
        <td width="100">
          <%= character.genre ? character.genre.name : 'ジャンルが設定されていません' %>
        </td>
        <td width="100">
          <%= link_to '削除', admin_character_path(character), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tr>
</table>