<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h4 class="pt-2"><%= @user.name %> のマイページ</h4>
        <%= link_to "グループに戻る", group_path(@group), class:"btn btn-primary" %>
      </div>
      <%= image_tag @user.get_image, size: '100x100', class: "icon-img" %>

<br></br><br>
    <div class="d-flex justify-content-start">
      <% if @user.profile.present? %>
          <h5>プロフィール</h5>
        </div>
        <div class="p-2">
          <%= safe_join(@user.profile.split("\n"), tag(:br)) %><br>
        </div>
      <% end %>
      <% if @user.description.present? %>
      	<div class="p-2">
      	  <h5>TRPG詳細</h5>
      	  <%= safe_join(@user.description.split("\n"),tag(:br))%><br>
        </div>
      <% end %>

    </div>
  </div>
</div>