<h4 style="padding-left: 10px;">グループ一覧</h4>
<br>
<table class="table table-bordered">
  <tr class="table-active">
    <th width="60"><br></th>
    <th>グループ名</th>
    <th colspan="2">参加人数</th>
  </tr>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= link_to admin_group_path(group.id) do %>
            <%= image_tag group.get_image, size: '60x60', class: "icon-img" %>
          <% end %>
        </td>
        <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 0;">
          <%= link_to group.title, admin_group_path(group.id), class: "group-link" %>
        </td>
        <td width="70">
          <i class="fa-solid fa-users"></i><%= group.users.select { |user| user.user_status == "有効" }.count %>
        </td>
        <td width="90">
          <%= link_to '削除', admin_group_path(group), method: :delete, data: { confirm: '本当にグループを削除しますか?' },class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>