<div class="sidebars">
  <div class="sidebar is-closed">
    <button class="sidebar-toggle is-closed"><i class="fa fa-plus icon"></i></button>
    <%= render 'admin/group_users/index', group: @group %>
    <%= render 'admin/group_characters/index', group: @group, character_lists: @character_lists %>
    <%= link_to 'グループを削除', admin_group_path(@group), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" %>
  </div>
</div>

<div class="messages" style="padding-right: 1rem; padding-left: 1rem;">
  <div class="d-flex justify-content-between">
    <div class="d-flex" style="margin-top: 4px;">
      <%= image_tag @group.get_image, size: '100x100', class: "icon-img" %>
      <h4 style="padding-top: 4rem; padding-left: 2rem;"><%= @group.title %></h4>
    </div>
  </div>
  <br><br>
    <%= link_to 'グループを削除', admin_group_path(@group), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" %>

  <div class="py-4">
    <p><strong>説明</strong></p>
    <p><%= @group.description %></p>
  </div>

  <div id="message_count">
    <%= render 'admin/messages/count', messages: @messages %>
  </div>
  <div id="message_index">
    <%= render 'admin/messages/index', group: @group, message: @message %>
  </div>
</div>

<script>

  var toggleBtn = document.querySelector('.sidebar-toggle');
  var sidebar = document.querySelector('.sidebar');

  toggleBtn.addEventListener('click', function() {
    toggleBtn.classList.toggle('is-closed');
    sidebar.classList.toggle('is-closed');
  });
</script>