<div class="d-flex justify-content-center align-items-center">
  <div class="row" style="margin-top: 4rem;">

    <div class="text-start">
      <h2 class="text-center">ログイン</h2><br></br>

      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :次回以降自動でログイン %>
          </div>
        <% end %>

        <div class="d-flex justify-content-start">
          <div class="actions">
            <button class="btn btn-flat" style="margin-top: 1rem;">
              <span>ログイン</span>
            </button>
          </div>
        <% end %>

        <%= render "public/shared/links" %>
      </div>

    </div>
  </div>
</div>