<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h4 class="pt-2"><%= @user.name %> のマイページ</h4>
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %>
      </div>

      <% if @user.profile.present? %>
        <div class="py-4">
          <h5>プロフィール</h5>
          <%= safe_join(@user.profile.split("\n"), tag(:br)) %><br>
        </div>
      <% end %>
      <% if @user.profile.present? %>
      	<div class="py-4">
      	  <h5>TRPG詳細</h5>
      	  <%= safe_join(@user.introduction.split("\n"),tag(:br))%><br>
        </div>
      <% end %>

      <div class="wrapper pt-4">
        <button type="button" class="btn btn-primary" onclick="location.href='<%= characters_path %>'">キャラクター一覧</button>
        <button type="button" class="btn btn-primary" onclick="location.href='<%= groups_path %>'">グループ一覧</button>
      </div>

    </div>
  </div>
</div>