<header>
  <nav class="navbar navbar-expand-md navbar-light" style="padding-top: 16px; margin: 0px;">
    <div class="header container-fluid">
      <div class="box1"><%= link_to root_path, class: 'nav-link' do %>
        <%= image_tag asset_path('logo.png'), size: '48x48' %></div>
      <% end %>

      <!-- ハンバーガーメニュー -->
      <div class="openbtn navbar-toggler ml-auto" data-toggle="collapse" data-target=".navbar-collapse" onclick="document.querySelector('.openbtn').classList.toggle('active')">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="collapse navbar-collapse justify-content-around">
        <ul class="navbar-nav">

          <!--ユーザーログイン時-->
          <% if user_signed_in? %>
            <li><div class="header-content"><%= link_to "マイページ", mypage_path %></div></li>
            <li><div class="header-content"><%= link_to "キャラクター", characters_path %></div></li>
            <li><div class="header-content"><%= link_to "グループ", groups_path %></div></li>
            <li><div class="header-content"><%= link_to "ログアウト", destroy_user_session_path %></div></li>

          <!--管理者ログイン時-->
          <% elsif admin_signed_in? %>
            <li><div class="header-content"><%= link_to "ユーザー一覧", admin_users_path %></div></li>
            <li><div class="header-content"><%= link_to "グループ一覧", admin_groups_path %></div></li>
            <li><div class="header-content"><%= link_to "ジャンル作成", admin_genres_path %></div></li>
            <li><div class="header-content"><%= link_to "ログアウト", destroy_admin_session_path %></div></li>

          <% else %>

            <!--ログイン前-->
            <li><div class="header-content"><%= link_to "About", about_path %></div></li>
            <li><div class="header-content"><%= link_to "新規登録", new_user_registration_path %></div></li>
            <li><div class="header-content"><%= link_to "ログイン", new_user_session_path %></div></li>
          <% end %>

            <li class="nav-item col-md-4">
              <div class="search_form">
                <%= form_with url: search_path, local: true, method: :get, class: "d-flex" do |f| %>
                  <%= f.text_field :word, class: "form-control me-2" %>
                  <%= f.hidden_field :range, value: "キャラクター" %> <!-- キャラクターしか検索できないように設定 -->
                  <%= f.hidden_field :search, value: "partial" %> <!-- 部分一致しかできないように設定 -->
                  <%= f.submit "検索", class: "btn btn-outline-success" %>
                <% end %>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>